# Abaikan folder virtual environment
venv/
.env

# Abaikan file cache python
__pycache__/
*.pyc

# Abaikan database (Opsional: Jika ingin database selalu fresh)
# Tapi untuk DEMO ke rekruter, boleh Anda hapus baris ini agar data dummy ikut ter-upload
# *.db
